<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cricket Analytics</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="/assets/js/jquery-1.12.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/datatables.min.css" type="text/css" />
    <script src="/assets/js/datatables.min.js"></script>

    <script>
      $(document).ready( function () {
        $('#all_innings').dataTable({"order": [[1, "desc"]], "dom": 'T<"clear">lfrtip',});
        $('#first_second_innings').dataTable({"order": [[0, "asc"]], "dom": 'T<"clear">lfrtip',});
        $('#year').dataTable({"order": [[1, "asc"]], "dom": 'T<"clear">lfrtip',});
        $('#position').dataTable({"order": [[1, "asc"]], "dom": 'T<"clear">lfrtip',});
        $('#over').dataTable({"order": [[1, "asc"]], "dom": 'T<"clear">lfrtip',});
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>{{name}}</h1>
      <div class="row">
        <h3>All Matches</h3>
        <table class="display" id="all_innings" width="100%">
          <thead>
            <tr>{%for i in dets['all_cols']%}<th>{{i}}</th>{%endfor%}</tr>
          </thead>
          <tbody>{%for inning in dets['all_innings']%}
            <tr>{%for i in dets['all_cols']%}<td>{%if i != 'strike_rate'%}{{inning[i]}}{%else%}{{inning[i] | round(2)}}{%endif%}</td>{%endfor%}</tr>
            {%endfor%}</tbody>
        </table>
      </div>

      <div class="row">
        <h3>Difference between first and second innings</h3>
        <table class="display" id="first_second_innings" width="100%">
          <thead>
            <tr><th>inning</th>{%for i in dets['innings_cols']%}<th>{{i}}</th>{%endfor%}</tr>
          </thead>
          <tbody>
            {%if dets['first_inning_bat']%}<tr><td>1</td>{%for i in dets['innings_cols']%}<td>{%if i == 'batsman_name'%}{{dets['first_inning_bat'][0][i]}}{%else%}{{dets['first_inning_bat'][0][i] | round(2)}}{%endif%}</td>{%endfor%}</tr>{%endif%}
            {%if dets['second_inning_bat']%}<tr><td>2</td>{%for i in dets['innings_cols']%}<td>{%if i == 'batsman_name'%}{{dets['second_inning_bat'][0][i]}}{%else%}{{dets['second_inning_bat'][0][i] | round(2)}}{%endif%}</td>{%endfor%}</tr>{%endif%}
          </tbody>
        </table>
      </div>
      
      <div class="row">
        <h3>Performance by year</h3>
        <table class="display" id="year" width="100%">
          <thead>
            <tr>{%for i in dets['year_cols']%}<th>{{i}}</th>{%endfor%}</tr>
          </thead>
          <tbody>
            {%for j in dets['batsman_year']%}<tr>{%for i in dets['year_cols']%}<td>{%if i!='batsman_name' and i!='year' and i!='num_innings'%}{{j[i] | round(2)}}{%else%}{{j[i]}}{%endif%}</td>{%endfor%}</tr>{%endfor%}
          </tbody>
        </table>
      </div>

      <div class="row">
        <h3>Performance by batting order</h3>
        <table class="display" id="position" width="100%">
          <thead>
            <tr>{%for i in dets['pos_cols']%}<th>{{i}}</th>{%endfor%}</tr>
          </thead>
          <tbody>
            {%for j in dets['performance_by_order']%}<tr>{%for i in dets['pos_cols']%}<td>{%if i!='batsman_name' and i!='batting_order' and i!='num_innings'%}{{j[i] | round(2)}}{%else%}{{j[i]}}{%endif%}</td>{%endfor%}</tr>{%endfor%}
          </tbody>
        </table>
      </div>

      <div class="row">
        <h3>Performance by over while batting first</h3>
        <table class="display" id="over" width="100%">
          <thead>
            <tr><th>Over</th>{%for i in dets['over_cols']%}<th>{{i}}</th>{%endfor%}</tr>
          </thead>
          <tbody>
            {%if dets['first_inning_first_6']%}<tr><td>First 6</td>{%for j in dets['over_cols']%}<td>{{dets['first_inning_first_6'][0][j]}}</td>{%endfor%}</tr>{%endif%}
            {%if dets['first_inning_middle_9']%}<tr><td>Middle 9</td>{%for j in dets['over_cols']%}<td>{{dets['first_inning_middle_9'][0][j]}}</td>{%endfor%}</tr>{%endif%}
            {%if dets['first_inning_last_5']%}<tr><td>Last 5</td>{%for j in dets['over_cols']%}<td>{{dets['first_inning_last_5'][0][j]}}</td>{%endfor%}</tr>{%endif%}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>