<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cricket Analytics</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="/assets/js/jquery-1.12.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/datatables.min.css" type="text/css" />
    <script src="/assets/js/datatables.min.js"></script>

    <script>
      $(document).ready( function () {
        $('#all_innings').dataTable({"order": [[0, "desc"]], "dom": 'T<"clear">lfrtip',});
        $('#first_second_innings').dataTable({"order": [[0, "asc"]], "dom": 'T<"clear">lfrtip',});
        $('#year').dataTable({"order": [[0, "asc"]], "dom": 'T<"clear">lfrtip',});
        $('#position').dataTable({"order": [[0, "asc"]], "dom": 'T<"clear">lfrtip',});
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>{{name}}</h1>
      <div class="row">
        <h3>All Matches</h3>
        <table class="display" id="all_innings" width="100%">
          <thead>
            <tr>{%for i in dets['team_innings_cols']%}<th>{{i}}</th>{%endfor%}</tr>
          </thead>
          <tbody>{%for inning in dets['team_innings']%}
            <tr>{%for i in dets['team_innings_cols']%}<td>{%if i != 'run_rate'%}{{inning[i]}}{%else%}{{inning[i] | round(1)}}{%endif%}</td>{%endfor%}</tr>
            {%endfor%}</tbody>
        </table>
      </div>

      <div class="row">
        <h3>Difference between first and second innings</h3>
        <table class="display" id="first_second_innings" width="100%">
          <thead>
            <tr><th>inning</th>{%for i in dets['innings_cols']%}<th>{{i}}</th>{%endfor%}</tr>
          </thead>
          <tbody>
            <tr><td>1</td>{%for i in dets['innings_cols']%}<td>{{dets['first_inning_team'][0][i] | round(2)}}</td>{%endfor%}</tr>
            <tr><td>2</td>{%for i in dets['innings_cols']%}<td>{{dets['second_inning_team'][0][i] | round(2)}}</td>{%endfor%}</tr>
          </tbody>
        </table>
      </div>
      
      <div class="row">
        <h3>Performance by year</h3>
        <table class="display" id="year" width="100%">
          <thead>
            <tr>{%for i in dets['team_year_cols']%}<th>{{i}}</th>{%endfor%}</tr>
          </thead>
          <tbody>
            {%for j in dets['team_year']%}<tr>{%for i in dets['team_year_cols']%}<td>{%if i != 'year'%}{{j[i] | round(2)}}{%else%}{{j[i]}}{%endif%}</td>{%endfor%}</tr>{%endfor%}
          </tbody>
        </table>
      </div>

      <div class="row">
        <h3>Performance by batting order</h3>
        <table class="display" id="position" width="100%">
          <thead>
            <tr>{%for i in dets['team_pos_cols']%}<th>{{i}}</th>{%endfor%}</tr>
          </thead>
          <tbody>
            {%for j in dets['team_batting_pos']%}<tr>{%for i in dets['team_pos_cols']%}<td>{%if i != 'batting_order'%}{{j[i] | round(2)}}{%else%}{{j[i]}}{%endif%}</td>{%endfor%}</tr>{%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>